/* 

Font Imports

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;  
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
}

button {
    background-color: #4267b2;
    padding: 12px 32px;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container {
    padding: 0 48px;
}

.row {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-blue {
    color: #4267b2;
}

.no-cursor {
    cursor: not-allowed;
}


/*

Nav Section

*/

#landing {
    width: 100%;
    height: 83vh;
    padding: 32px;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;    
}

.nav__row {
    justify-content: space-between;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav__logo--link {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 32px;
    font-weight: 900;
    color: #000
    
}

.nav__logo {
    margin-right: 20px;
}

.nav__img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    vertical-align: middle;
}

.nav__links {
    display: flex;
}

.nav__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__list {
    margin: 0 24px;
}

.nav__link {
    font-size: 1.1rem;
    font-weight: bold;
}

.login {
    margin-left: 1rem;
    margin-right: -1rem;
}

/*

Header Section

*/

header {
    height: calc(100vh - 100px);
    display: flex;
}

.header__container {
    width: 100%;
    max-width: 1400px;  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_left, .header_right {
    height: 80%;
}

.header_left {
    width: 70%;    
    display: flex;
    flex-direction: column;
    gap: 28px;   
}

.header__title {
    font-size: 48px;
    margin-bottom: 1.5rem;    
}

.header__description--para {
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.header__micro-form {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 4px 4px 4px 20px;
    margin-bottom: 3rem;
}

.header__micro-form input  {
    border: none;
}

.header__customers--para {
    color: rgb(150, 146, 146);
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 18px;
}

.header_right {
    width: 100%;
}

.header_right__img--wrapper {
    width: 100%;
    overflow: hidden;
}

.header_right--img {
    width: 100%;
    max-width: 768px;        
}

/*

Features sections

*/

#features {
    height: 100vh;
    padding: 8rem 0;
}

.features {    
    display: flex;
    flex-direction: column;
}

.feature__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
    margin-bottom: 4.5rem;
}

.feature__header--span {
    font-size: 1.1rem;
    font-weight: 700;    
}

.feature__title {
    font-size: 3.2rem;
    font-weight: 900;
}

.feature__para {
    width: 50%;
    font-size: 1.1rem;
    text-align: center;    
}

.feature__para, 
.feature__service--para {
    color: #7c8ba1;
}


.feature__services {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-self: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature__service--container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
} 

.feature__service--title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature__service--para {
    line-height: 2;
    font-weight: 500;
}

.feature__service--options {
    display: flex;
    justify-content: center;    
    flex-basis: 310px;
    margin-right: 3rem; 
    margin-bottom: 3rem;   
}

.feature__img--wrapper {
    min-height: 66px;
    min-width: 66px;
    max-height: 66px;
    max-width: 66;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .8rem;
}

.feature__service--img {
    width: 25px;
    height: 25px;
}

/*

Quality Section

*/
#quality {    
    height: 70vh;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;    
}

.quality__description {
    width:  45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;        
}

.quality__description--span {
    font-size: 1.2rem;
    font-weight: 600;
}

.quality__description--header {
    font-size: 3.2rem;
    font-weight: 900;
}

.quality__description--para {
    font-size: 1.2rem;
    font-weight: 500;
    color: #7c8ba1;
}

.quality__right--wrapper {
    width: 55%;
}

.quality__img--wrapper {
    width: 100%;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-left: 3rem;
}

.quality__img {
    max-width: 100%;
    height: auto;
}

/*

Steps Section

*/
#steps {
    height: 95vh;
    display: flex;
}

.steps__img--wrapper {
    width: 100%;
    overflow: hidden;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.steps__span {
    font-size: 1.1rem;
    font-weight: 700;
}

.steps__title {
    font-size: 2.8rem;
    font-weight: 900;
}

.steps__lists--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.steps__list--item {
    display: flex;
    gap: 1.5rem;
}

.steps__list--number {
    font-size: 2rem;
    font-weight: 700;
    color: #cbd530;
}

.steps__instruction--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}