/* 

Font Imports

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;  
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
}

button {
    background-color: #4267b2;
    padding: 12px 32px;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.container {
    padding: 0 48px;
}

.row {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-blue {
    color: #4267b2;
}

.no-cursor {
    cursor: not-allowed;
}


/*

Nav Section

*/

#landing {
    width: 100%;
    height: 83vh;
    padding: 32px;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;    
}

.nav__row {
    justify-content: space-between;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.nav__logo--link {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 32px;
    font-weight: 900;
    color: #000
    
}

.nav__logo {
    margin-right: 20px;
}

.nav__img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    vertical-align: middle;
}

.nav__links {
    display: flex;
}

.nav__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__list {
    margin: 0 24px;
}

.nav__link {
    font-size: 1.1rem;
    font-weight: bold;
}

.login {
    margin-left: 1rem;
    margin-right: -1rem;
}

/*

Header Section

*/

header {
    height: calc(100vh - 100px);
    display: flex;
}

.header__container {
    width: 100%;
    max-width: 1400px;  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_left, .header_right {
    height: 80%;
}

.header_left {
    width: 70%;    
    display: flex;
    flex-direction: column;
    gap: 28px;   
}

.header__title {
    font-size: 48px;
    margin-bottom: 1.5rem;    
}

.header__description--para {
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.header__micro-form {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 4px 4px 4px 20px;
    margin-bottom: 3rem;
}

.header__micro-form input  {
    border: none;
}

.header__customers--para {
    color: rgb(150, 146, 146);
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 18px;
}

.header_right {
    width: 100%;
}

.header_right__img--wrapper {
    width: 100%;
    overflow: hidden;
}

.header_right--img {
    width: 100%;
    max-width: 768px;        
}

/*

Features sections

*/

#features {
    height: 90vh;
    padding: 8rem 0;
}

.features {    
    display: flex;
    flex-direction: column;
}

.feature__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
    margin-bottom: 4.5rem;
}

.feature__header--span {
    font-size: 1.1rem;
    font-weight: 700;    
}

.feature__title {
    font-size: 3.2rem;
    font-weight: 900;
}

.feature__para {
    width: 50%;
    font-size: 1.1rem;
    text-align: center;    
}

.feature__para, 
.feature__service--para {
    color: #7c8ba1;
}


.feature__services {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-self: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature__service--container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
} 

.feature__service--title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature__service--para {
    line-height: 2;
    font-weight: 500;
}

.feature__service--options {
    display: flex;
    justify-content: center;    
    flex-basis: 310px;
    margin-right: 3rem; 
    margin-bottom: 3rem;   
}

.feature__img--wrapper {
    min-height: 66px;
    min-width: 66px;
    max-height: 66px;
    max-width: 66;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .8rem;
}

.feature__service--img {
    width: 25px;
    height: 25px;
}

/*

Quality Section

*/
#quality {    
    height: 70vh;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;    
}

.quality__description {
    width:  45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;        
}

.quality__description--span {
    font-size: 1.2rem;
    font-weight: 600;
}

.quality__description--header {
    font-size: 3.2rem;
    font-weight: 900;
}

.quality__description--para {
    font-size: 1.2rem;
    font-weight: 500;
    color: #7c8ba1;
}

.quality__right--wrapper {
    width: 55%;
}

.quality__img--wrapper {
    width: 100%;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-left: 3rem;
}

.quality__img {
    max-width: 100%;
    height: auto;
}

/*

Steps Section

*/
#steps {
    height: 72vh;
    display: flex;
}

.steps__row {
    gap: 4rem;
}

.steps__img--wrapper {
    width: 100%;
    overflow: hidden;
    border: 18px solid #000;
    border-radius:16px;
}

.steps__img {
    width: 100%;    
}

.steps__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.steps__span {
    font-size: 1.1rem;
    font-weight: 600;
}

.steps__title {
    font-size: 3rem;
    font-weight: 900;
}

.steps__lists--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.steps__list--item {
    display: flex;
    gap: 1.5rem;
}

.steps__list--number {
    font-size: 2.4rem;
    font-weight: 700;
    color: #cbd530;
}

.steps__instruction--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.steps__instruction--title {
    font-size: 1.2rem;
    font-weight: 700;
}

.steps__instruction--para {
    width: 75%;
    color: #7c8ba1;
    font-weight: 400;
}

/*

Values Section

*/

#values {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    width: 100%;
    margin-right: 3rem;
}

.values__description--span {
    font-weight: 700;
    font-size: 1.2rem;
}

.values__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .2rem;
}

.values__list--container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.values__description--para,
.values__list--para {
    color: #7c8ba1;    
}

.values__list--para {
    font-size: 1.1rem;
}

.values__description--para {
    font-size: 1.2rem;
    font-weight: 500;
}
.values__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.values__list--span {
    font-size: 1.4rem;
    font-weight: 700;
}

.values__list--div {
    display: flex;
    gap: 1rem;
    align-items: center;    
}
.values__btn {
    margin-top: 2rem;
}

.values__icon--wrapper {
    width: 40px;
    height: 40px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #4267b2;
    background-color: #9ae6b4;
}

.icon__second {
    background-color: #feb2b2;
    color: #b40505;
}

.values__list--para {
    text-align: left;
}

.values__display,
.values__img--wrapper,
.values__img {
    width: 100%;
}

.values__img--wrapper {
    overflow: hidden;
}

/*

Pricing Section

*/

#pricing {
    width: 100%;
    height: 100vh;
}

.pricing__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__descrip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 5rem;
    gap: 1.4rem;
    margin-bottom: 1rem;
}

.pricing__descrip--para {
    color: #7c8ba1;
    font-size: 1.2rem;
    font-weight: 500;
    width: 55%;  
}

.pricing__span {
    font-size: 1.2rem;
    font-weight: 600;
}

.pricing__title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .2rem;
}

.pricing__divs {
    display: flex;
    height: 70%;
    margin-top: 3rem;
    gap: 2.5rem;
}

.pricing__divs .pricing__plan--containers:first-child .pricing__type--btn,
.pricing__divs .pricing__plan--containers:first-child .pricing__type,
.pricing__divs .pricing__plan--containers:first-child .pricing__type--scale {
    background-color: #fff;    
}

.pricing__divs .pricing__plan--containers:nth-child(2) {
    border: none;
    background-color:  #4267b2;    
    color: #fff;
}
.pricing__divs .pricing__plan--containers:nth-child(2) span {
    color: #fff;
}

.btn__third {    
    background: linear-gradient(115deg, rgb(197, 123, 79) 0%, rgb(254, 178, 178) 100%); 
}

.pricing__divs .pricing__plan--containers:first-child {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__divs .pricing__plan--containers:nth-child(3) {
    background: linear-gradient(115deg, rgb(197, 123, 79) 0%, rgb(254, 178, 178) 100%);
}


.pricing__high .pricing__type,
.pricing__high .pricing__type--scale,
.pricing__high .pricing__type--btn {
    background-color: #fff;    
}

.pricing__plan--containers {
    height: 600px;
    width: 380px;
    /*border: 1px solid #7c8ba1;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    /*border-top:10px solid green;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pricing__type {
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    border-bottom: 1px solid #dfd7d7;         
}

.small .pricing__type,
.small .pricing__type--scale {
    border-bottom: 1px solid #5771a7;
}

.pricing__type-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.pricing__type--price {
    font-size: 3rem;
    font-weight: 750;
}

.pricing__type--time {
    font-size: 1rem;
    font-weight: 700;
    color: #7c8ba1;
    letter-spacing: .2rem;
}

.pricing__type--scale {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: 1px solid #dfd7d7;
}

.pricing__scale--size {
    font-weight: 800;
    font-size: 1.3rem;
}

.pricing__scale--span {
    font-size: 1rem;
    font-weight: 600;
    color: #7c8ba1;
}

.pricing__type--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 117px;
    padding: 2rem 0;    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn__first {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn__second {
    color: #4267b2;
    background-color: #fff;
}

/*

Testimonials Section

*/

#testimon {
    width: 100%;
    height: 90vh;
}

.testimon__row {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 3rem;    
}

.testimon__img--section {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimon__img--wrapper {
    width: 100%;
}

.testimon__img {
    width: 100%;
}

.testimon__decrip {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.testimon__top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.testimon__span, 
.testimon__top--header{
    letter-spacing: .2rem;
}

.testimon__span {
    font-size: 1.2rem;
    font-weight: 600;
}

.testimon__top--header {
    font-size: 3rem;
    font-weight: 900;    
}

.testimon__top--para {
    font-size: 1.2rem;
    font-weight: 550;
    color: #7c8ba1;
}

.testimon__review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.testimon__stars {
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFD700;
}

.testimon__review--title {
    font-size: 1.3rem;
    font-weight: 700;
}

.testimon__review--para {
    font-size: 1.1rem;
}

.testimon__review--person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.testimon__profile--div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.testimon__profile--wrapper {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimon__profile--img {
    width: 120%; 
    height: auto;
    object-fit: cover;
    object-position: center;
}

.testimon__name--wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.testimon__name {
    font-size: 1.3rem;
}

.testimon__name-title {
    color: #7c8ba1;
    font-weight: 600;
}

.testimon__btn {
    height: 45px;
    width: 45px;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 10px 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;       
}

.testimon__review--divider {
    color: #7c8ba1;
    padding: 0 .3rem;
}

/*

Contact Section

*/

.contact__row {
    height: 282px;
    background-color: #4267b2;
    border-radius: 8px;
    margin-bottom: 20rem;
}

.contact__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}

.contact__header {
    width: 53%;
    line-height: 1.5;
    color: #fff;
    font-size: 2rem;   
}

.contact__btn--wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact__content button {
    height: 60px;
    border-radius: 40px;
}

.contact__btn--get {
    background-color: #ff8800;
    

}

.contact__btn--us {
    border: 1px solid #7c8ba1;
}

/*

Footer Section

*/

footer {
    width: 100%;
    height: 522px;
    background-color: #4267b2;    
}

.footer__row {
    flex-direction: column;
}

.footer__top,
.footer__bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__top {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.footer__list--title, 
.footer__list--item,
.footer__logo--name {
    color: #fff;
}

.footer__logo {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.footer__img--wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;    
}

.footer__logo--img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.footer__list--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.footer__lists {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.footer__list--title {
    font-size: 1.1rem;
    font-weight: 700;
}

.footer__list--item {
    font-size: .9rem;
    font-weight: 450;
}

.footer__bottom {
    border-top: 2px solid #5771a7;    
    padding-top: 4rem;
    
}


.footer__logo--name {
    font-size: 1.4rem;
    font-weight: 800;
}

.footer__copyright {
    color: lightgray;
    font-weight: 500;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__icon--fb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon--fb i {
    font-size: .85rem;
    color: #000;
}

